.card-back-1 {
	background:
		  32px 32px/calc(2*32px) calc(2*32px) conic-gradient(at calc(500%/6) 50%,hsl(var(--pattern-bg) / 1) 25%,#0000 0),0 0/calc(2*32px) calc(2*32px) conic-gradient(at calc(500%/6) 50%,hsl(var(--pattern-bg) / 1) 25%,#0000 0),
		  32px 32px/calc(2*32px) calc(2*32px) conic-gradient(at calc(200%/3) 50%,hsl(var(--pattern-color-2) / 1) 25%,#0000 0),0 0/calc(2*32px) calc(2*32px) conic-gradient(at calc(200%/3) 50%,hsl(var(--pattern-color-2) / 1) 25%,#0000 0),
		  repeating-conic-gradient(hsl(var(--pattern-color-1) / 1) 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
		  linear-gradient(hsl(var(--pattern-color-1) / 1) calc(100%/3),hsl(var(--pattern-color-2) / 1) 0 calc(200%/3),hsl(var(--pattern-bg) / 1) 0)
		   0 0/32px 32px;
}

.card-back-2 {
	background:
		  conic-gradient(at 16px calc(100% - 16px),#0000 270deg,hsl(var(--pattern-color-1) / 1) 0) calc(16px + 12px) 0,
		  linear-gradient(hsl(var(--pattern-color-2) / 1) 16px,#0000 0) 0 12px,
		  conic-gradient(at 16px calc(100% - 16px),#0000 90deg,hsl(var(--pattern-color-2) / 1) 0 180deg, hsl(var(--pattern-color-1) / 1) 0),
		  hsl(var(--pattern-bg) / 1);
	background-size: calc(2*(16px + 12px)) calc(2*(16px + 12px));
}

.card-back-3 {
	background:
		  conic-gradient(at 50% calc(100%/6),hsl(var(--pattern-color-1) / 1) 60deg,#0000 0),
		  conic-gradient(at calc(100%/6) 50%,#0000 240deg,hsl(var(--pattern-color-1) / 1) 0),
		  conic-gradient(from 180deg at calc(100%/6) calc(500%/6),hsl(var(--pattern-color-1) / 1) 60deg,#0000 0),
		  conic-gradient(from 180deg at calc(500%/6),#0000 240deg,hsl(var(--pattern-color-1) / 1) 0) calc(4*.866*16px) 0,
		  repeating-linear-gradient(-150deg,hsl(var(--pattern-color-2) / 1) 0 calc(100%/6),#0000   0 50%),
		  repeating-linear-gradient(-30deg, #fff 0 calc(100%/6),hsl(var(--pattern-bg) / 1) 0 50%);
	background-size: calc(6*.866*16px) calc(3*16px);
}

.card-back-4 {
	background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,hsl(var(--pattern-color-1) / 1) 54% 57%,#0000 59%) 0 calc(128px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,hsl(var(--pattern-color-1) / 1) 54% 57%,#0000 59%) calc(128px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,hsl(var(--pattern-color-1) / 1) 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,hsl(var(--pattern-color-1) / 1) 54% 57%,#0000 59%),
		  hsl(var(--pattern-bg) / 1);
	background-size: calc(128px/4.667) 128px,128px calc(128px/4.667);
}

.card-back-5 {
	background:
		  radial-gradient(hsl(var(--pattern-color-1) / 1) 49%,#0000 50%) calc(32px/-2) calc(32px/2),
		  repeating-conic-gradient(from 45deg,hsl(var(--pattern-bg) / 1) 0 25%,#0000 0 50%)
			calc(32px/2) calc(32px/2),
		  radial-gradient(hsl(var(--pattern-color-1) / 1) 49%,#0000 50%),radial-gradient(hsl(var(--pattern-color-1) / 1) 49%,#0000 50%) 32px 32px hsl(var(--pattern-bg) / 1);
	background-size: calc(2*32px) calc(2*32px);
}

.card-back-6 {
	background:
		  radial-gradient(50% 50% at 100% 0,hsl(var(--pattern-bg) / 1) 0%  5% ,hsl(var(--pattern-color-1) / 1) 6%  15%,hsl(var(--pattern-bg) / 1) 16% 25%,hsl(var(--pattern-color-1) / 1) 26% 35%,hsl(var(--pattern-bg) / 1) 36% 45%,
		   hsl(var(--pattern-color-1) / 1) 46% 55%,hsl(var(--pattern-bg) / 1) 56% 65%,hsl(var(--pattern-color-1) / 1) 66% 75%,hsl(var(--pattern-bg) / 1) 76% 85%,hsl(var(--pattern-color-1) / 1) 86% 95%,
		   #0000 96%),
		  radial-gradient(50% 50% at 0 100%,hsl(var(--pattern-bg) / 1) 0%  5% ,hsl(var(--pattern-color-1) / 1) 6%  15%,hsl(var(--pattern-bg) / 1) 16% 25%,hsl(var(--pattern-color-1) / 1) 26% 35%,hsl(var(--pattern-bg) / 1) 36% 45%,
		   hsl(var(--pattern-color-1) / 1) 46% 55%,hsl(var(--pattern-bg) / 1) 56% 65%,hsl(var(--pattern-color-1) / 1) 66% 75%,hsl(var(--pattern-bg) / 1) 76% 85%,hsl(var(--pattern-color-1) / 1) 86% 95%,
		   #0000 96%),
		  radial-gradient(50% 50%,hsl(var(--pattern-bg) / 1) 0%  5% ,hsl(var(--pattern-color-1) / 1) 6%  15%,hsl(var(--pattern-bg) / 1) 16% 25%,hsl(var(--pattern-color-1) / 1) 26% 35%,hsl(var(--pattern-bg) / 1) 36% 45%,
		   hsl(var(--pattern-color-1) / 1) 46% 55%,hsl(var(--pattern-bg) / 1) 56% 65%,hsl(var(--pattern-color-1) / 1) 66% 75%,hsl(var(--pattern-bg) / 1) 76% 85%,hsl(var(--pattern-color-1) / 1) 86% 95%,
		   #0000 96%),
		  radial-gradient(50% 50%,hsl(var(--pattern-bg) / 1) 0%  5% ,hsl(var(--pattern-color-1) / 1) 6%  15%,hsl(var(--pattern-bg) / 1) 16% 25%,hsl(var(--pattern-color-1) / 1) 26% 35%,hsl(var(--pattern-bg) / 1) 36% 45%,
		   hsl(var(--pattern-color-1) / 1) 46% 55%,hsl(var(--pattern-bg) / 1) 56% 65%,hsl(var(--pattern-color-1) / 1) 66% 75%,hsl(var(--pattern-bg) / 1) 76% 85%,hsl(var(--pattern-color-1) / 1) 86% 95%,
		   #0000 96%) 32px 32px;
	background-size: 64px 64px;
	background-color: hsl(var(--pattern-bg) / 1);
}

.card-back-7 {
	background:
		  radial-gradient(at 80% 80%,hsl(var(--pattern-color-1) / 1) 25.4%,#0000 26%),
		  radial-gradient(at 20% 80%,hsl(var(--pattern-color-1) / 1) 25.4%,#0000 26%),
		  conic-gradient(from -45deg at 50% 41%,hsl(var(--pattern-color-1) / 1) 90deg,hsl(var(--pattern-bg) / 1) 0) 
			16px 0;
	background-size: 32px 32px;
}

.card-back-8 {
	background: 
		  radial-gradient(calc(1.28 * 32px + 8px/2) at top 50% right calc(-.8*32px), hsl(var(--pattern-color-1) / 1) calc(99.5% - 8px),hsl(var(--pattern-bg) / 1) calc(101% - 8px) 99.5%,#0000 101%) calc(-1*calc(1.8 * 32px + 8px)) 32px,
		  radial-gradient(calc(1.28 * 32px + 8px/2) at top 50% left calc(-.8*32px), hsl(var(--pattern-color-2) / 1) calc(99.5% - 8px),hsl(var(--pattern-bg) / 1) calc(101% - 8px) 99.5%,#0000 101%) calc(1.8 * 32px + 8px)  calc(-1*32px),
		  radial-gradient(calc(1.28 * 32px + 8px/2) at top 50% right calc(-.8*32px), hsl(var(--pattern-color-2) / 1) calc(99.5% - 8px),hsl(var(--pattern-bg) / 1) calc(101% - 8px) 99.5%,#0000 101%) calc(calc(1.8 * 32px + 8px)/-2) calc(-1*32px),
		  radial-gradient(calc(1.28 * 32px + 8px/2) at top 50% left calc(-.8*32px), hsl(var(--pattern-color-1) / 1) calc(99.5% - 8px),hsl(var(--pattern-bg) / 1) calc(101% - 8px) 99.5%,#0000 101%) calc(calc(1.8 * 32px + 8px)/ 2) 32px,
		  linear-gradient(90deg, hsl(var(--pattern-color-1) / 1) 50%, hsl(var(--pattern-color-2) / 1) 0);
	background-size: calc(1.8 * 32px + 8px) 128px;
}

.card-back-9 {
	background:
		  radial-gradient(25% 25% at 25% 25%,hsl(var(--pattern-color-1) / 1) 99%,#0000 101%) 32px 32px/calc(2*32px) calc(2*32px),
		  radial-gradient(25% 25% at 25% 25%,hsl(var(--pattern-color-1) / 1) 99%,#0000 101%) 0 0/calc(2*32px) calc(2*32px),
		  radial-gradient(50% 50%,hsl(var(--pattern-bg) / 1) 98%,#0000) 0 0/32px 32px,
		  repeating-conic-gradient(hsl(var(--pattern-bg) / 1) 0 25%,hsl(var(--pattern-color-1) / 1) 0 50%) 
			calc(.5*32px) 0/calc(2*32px) 32px;
}

.card-back-10 {
	background: radial-gradient(at bottom right, hsl(var(--pattern-color-1) / 1) 0, hsl(var(--pattern-color-1) / 1) 8px, hsl(var(--pattern-color-1) / 0.2) 8px, hsl(var(--pattern-color-1) / 0.2) 16px, hsl(var(--pattern-color-1) / 0.75) 16px, hsl(var(--pattern-color-1) / 0.75) 24px, hsl(var(--pattern-color-1) / 0.25) 24px, hsl(var(--pattern-color-1) / 0.25) 32px, hsl(var(--pattern-color-1) / 0.3) 32px, hsl(var(--pattern-color-1) / 0.3) 40px, hsl(var(--pattern-color-1) / 0.75) 40px, hsl(var(--pattern-color-1) / 0.75) 48px, hsl(var(--pattern-color-1) / 0.2) 48px, hsl(var(--pattern-color-1) / 0.2) 56px, transparent 56px, transparent 64px), radial-gradient(at top left, transparent 0, transparent 8px, hsl(var(--pattern-color-1) / 0.2) 8px, hsl(var(--pattern-color-1) / 0.2) 16px, hsl(var(--pattern-color-1) / 0.75) 16px, hsl(var(--pattern-color-1) / 0.75) 24px, hsl(var(--pattern-color-1) / 0.3) 24px, hsl(var(--pattern-color-1) / 0.3) 32px, hsl(var(--pattern-color-1) / 0.25) 32px, hsl(var(--pattern-color-1) / 0.25) 40px, hsl(var(--pattern-color-1) / 0.75) 40px, hsl(var(--pattern-color-1) / 0.75) 48px, hsl(var(--pattern-color-1) / 0.2) 48px, hsl(var(--pattern-color-1) / 0.2) 56px, hsl(var(--pattern-color-1) / 1) 56px, hsl(var(--pattern-color-1) / 1) 64px, transparent 64px, transparent 160px);
	background-blend-mode: multiply;
	background-size: 64px 64px, 64px 64px;
	background-color: hsl(var(--pattern-bg) / 1);
}

.card-back-11 {
	background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, hsl(var(--pattern-bg) / 1) 32px), repeating-linear-gradient(hsl(var(--pattern-color-1) / 1), hsl(var(--pattern-color-1) / 1));
	background-color: hsl(var(--pattern-bg) / 1);
}

.card-back-12 {
	background: linear-gradient(135deg, hsl(var(--pattern-color-1) / 1) 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, hsl(var(--pattern-color-1) / 0.5) 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, hsl(var(--pattern-color-1) / 1) 25%, transparent 25%) 0 0/ 64px 64px, linear-gradient(45deg, hsl(var(--pattern-color-1) / 0.5) 25%, hsl(var(--pattern-bg) / 1) 25%) 0 0/ 64px 64px;
	background-color: hsl(var(--pattern-bg) / 1);
}

.card-back-13 {
	background-image:  linear-gradient(30deg, hsl(var(--pattern-color-1) / 1) 12%, transparent 12.5%, transparent 87%, hsl(var(--pattern-color-1) / 1) 87.5%, hsl(var(--pattern-color-1) / 1)), linear-gradient(150deg, hsl(var(--pattern-color-1) / 1) 12%, transparent 12.5%, transparent 87%, hsl(var(--pattern-color-1) / 1) 87.5%, hsl(var(--pattern-color-1) / 1)), linear-gradient(30deg, hsl(var(--pattern-color-1) / 1) 12%, transparent 12.5%, transparent 87%, hsl(var(--pattern-color-1) / 1) 87.5%, hsl(var(--pattern-color-1) / 1)), linear-gradient(150deg, hsl(var(--pattern-color-1) / 1) 12%, transparent 12.5%, transparent 87%, hsl(var(--pattern-color-1) / 1) 87.5%, hsl(var(--pattern-color-1) / 1)), linear-gradient(60deg, hsl(var(--pattern-color-1) / 0.5) 25%, transparent 25.5%, transparent 75%, hsl(var(--pattern-color-1) / 0.5) 75%, hsl(var(--pattern-color-1) / 0.5)), linear-gradient(60deg, hsl(var(--pattern-color-1) / 0.5) 25%, transparent 25.5%, transparent 75%, hsl(var(--pattern-color-1) / 0.5) 75%, hsl(var(--pattern-color-1) / 0.5));
	background-size: 64px 112px;
	background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;
	background-color: hsl(var(--pattern-bg) / 1);
}

.card-back-14 {
	background:
		linear-gradient(45deg,#0000 71%,hsl(var(--pattern-color-1) / 1) 0 79%,#0000 0)
		calc(32px/-2) calc(32px/2)/calc(2*32px) calc(2*32px),
		linear-gradient(135deg,#0000 71%,hsl(var(--pattern-color-1) / 1) 0 79%,#0000 0)
		calc(32px/2) calc(32px/2)/calc(2*32px) calc(2*32px),
		radial-gradient(hsl(var(--pattern-color-1) / 1) 35%,hsl(var(--pattern-bg) / 1) 37%)
		0 0/32px 32px;
}

.card-back-15 {
	background:
		  conic-gradient(from 116.56deg at calc(100%/3) 0, #0000 90deg,hsl(var(--pattern-bg) / 1) 0),
		  conic-gradient(from -63.44deg at calc(200%/3) 100%, #0000 90deg,hsl(var(--pattern-bg) / 1) 0)
		  hsl(var(--pattern-color-1) / 1);
	background-size: 32px 32px;
}

.card-back-16 {
	background: linear-gradient(45deg,#0000 calc(25%/3), hsl(var(--pattern-color-1) / 1) 0 calc(50%/3),
		  #0000 0 calc(250%/3), hsl(var(--pattern-color-1) / 1) 0 calc(275%/3),
		  #0000 0),linear-gradient( 45deg,hsl(var(--pattern-color-1) / 1) calc(25%/3), #0000 0 calc(50%/3),
		  hsl(var(--pattern-color-1) / 1) 0 25%, #0000 0 75%,
		  hsl(var(--pattern-color-1) / 1) 0 calc(250%/3), #0000 0 calc(275%/3),hsl(var(--pattern-color-1) / 1) 0),
		  linear-gradient(-45deg,#0000 calc(25%/3), hsl(var(--pattern-color-1) / 1) 0 calc(50%/3),
		  #0000 0 calc(250%/3), hsl(var(--pattern-color-1) / 1) 0 calc(275%/3),
		  #0000 0),linear-gradient(-45deg,hsl(var(--pattern-color-1) / 1) calc(25%/3), #0000 0 calc(50%/3),
		  hsl(var(--pattern-color-1) / 1) 0 25%, #0000 0 75%,
		  hsl(var(--pattern-color-1) / 1) 0 calc(250%/3), #0000 0 calc(275%/3),hsl(var(--pattern-color-1) / 1) 0) hsl(var(--pattern-bg) / 1);
	background-size: 64px 64px;
	background-position: 0 0, 32px  32px;
}

.card-back-17 {
	background:
		  conic-gradient(at 62.5% 12.5%, hsl(var(--pattern-color-1) / 1) 25%, #0000 0) calc(32px/-8) calc(32px/2),
		  conic-gradient(at 62.5% 12.5%, hsl(var(--pattern-color-1) / 1) 25%, #0000 0) calc(-3*32px/8) calc(32px/4),
		  conic-gradient(at 87.5% 62.5%, hsl(var(--pattern-color-1) / 1) 25%, #0000 0) calc(3*32px/8) calc(32px/4),
		  conic-gradient(at 87.5% 62.5%, hsl(var(--pattern-color-1) / 1) 25%, #0000 0) calc(32px/-8) 0,
		  conic-gradient(at 25% 12.5%, hsl(var(--pattern-color-1) / 1) 25%, #0000 0) 0 calc(32px/-4),
		  conic-gradient(at 25% 12.5%, hsl(var(--pattern-color-1) / 1) 25%, #0000 0) calc(32px/-4) 0,
		  conic-gradient(at 87.5% 87.5%, hsl(var(--pattern-color-1) / 1) 25%, #0000 0) calc(32px/8) 0
		  hsl(var(--pattern-bg) / 1);
	background-size: 32px 32px;
}
